<manifest
    package="com.bingzer.android.driven.dropbox"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true">
        <activity android:name=".app.DropboxActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>
</manifest>
